In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
pizzas = pd.read_csv("pizza_sales/pizzas.csv")
pizza_types = pd.read_csv("pizza_sales/pizza_types.csv", encoding = 'unicode_escape')
orders = pd.read_csv("pizza_sales/orders.csv")
order_details = pd.read_csv("pizza_sales/order_details.csv")

In [3]:
pizzas

         pizza_id pizza_type_id size  price
0       bbq_ckn_s       bbq_ckn    S  12.75
1       bbq_ckn_m       bbq_ckn    M  16.75
2       bbq_ckn_l       bbq_ckn    L  20.75
3      cali_ckn_s      cali_ckn    S  12.75
4      cali_ckn_m      cali_ckn    M  16.75
..            ...           ...  ...    ...
91  spinach_fet_m   spinach_fet    M  16.00
92  spinach_fet_l   spinach_fet    L  20.25
93   veggie_veg_s    veggie_veg    S  12.00
94   veggie_veg_m    veggie_veg    M  16.00
95   veggie_veg_l    veggie_veg    L  20.25

[96 rows x 4 columns]

In [4]:
pizza_types

,pizza_type_id,name,category,ingredients
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,cali_ckn,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."
2,ckn_alfredo,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
3,ckn_pesto,The Chicken Pesto Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Spinach, Garli..."
4,southw_ckn,The Southwest Chicken Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja..."
5,thai_ckn,The Thai Chicken Pizza,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Tha..."
6,big_meat,The Big Meat Pizza,Classic,"Bacon, Pepperoni, Italian Sausage, Chorizo Sau..."
7,classic_dlx,The Classic Deluxe Pizza,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,..."
8,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
9,ital_cpcllo,The Italian Capocollo Pizza,Classic,"Capocollo, Red Peppers, Tomatoes, Goat Cheese,..."
10,napolitana,The Napolitana Pizza,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,..."
11,pep_msh_pep,"The Pepperoni, Mushroom, and Peppers Pizza",Classic,"Pepperoni, Mushrooms, Green Peppers"
12,pepperoni,The Pepperoni Pizza,Classic,"Mozzarella Cheese, Pepperoni"
13,the_greek,The Greek Pizza,Classic,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic..."
14,brie_carre,The Brie Carre Pizza,Supreme,"Brie Carre Cheese, Prosciutto, Caramelized Oni..."
15,calabrese,The Calabrese Pizza,Supreme,"Â‘Nduja Salami, Pancetta, Tomatoes, Red Onions,..."
16,ital_supr,The Italian Supreme Pizza,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni..."
17,peppr_salami,The Pepper Salami Pizza,Supreme,"Genoa Salami, Capocollo, Pepperoni, Tomatoes, ..."
18,prsc_argla,The Prosciutto and Arugula Pizza,Supreme,"Prosciutto di San Daniele, Arugula, Mozzarella..."
19,sicilian,The Sicilian Pizza,Supreme,"Coarse Sicilian Salami, Tomatoes, Green Olives..."
20,soppressata,The Soppressata Pizza,Supreme,"Soppressata Salami, Fontina Cheese, Mozzarella..."
21,spicy_ital,The Spicy Italian Pizza,Supreme,"Capocollo, Tomatoes, Goat Cheese, Artichokes, ..."
22,spinach_supr,The Spinach Supreme Pizza,Supreme,"Spinach, Red Onions, Pepperoni, Tomatoes, Arti..."
23,five_cheese,The Five Cheese Pizza,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go..."
24,four_cheese,The Four Cheese Pizza,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo..."
25,green_garden,The Green Garden Pizza,Veggie,"Spinach, Mushrooms, Tomatoes, Green Olives, Fe..."
26,ital_veggie,The Italian Vegetables Pizza,Veggie,"Eggplant, Artichokes, Tomatoes, Zucchini, Red ..."
27,mediterraneo,The Mediterranean Pizza,Veggie,"Spinach, Artichokes, Kalamata Olives, Sun-drie..."
28,mexicana,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."
29,spin_pesto,The Spinach Pesto Pizza,Veggie,"Spinach, Artichokes, Tomatoes, Sun-dried Tomat..."
30,spinach_fet,The Spinach and Feta Pizza,Veggie,"Spinach, Mushrooms, Red Onions, Feta Cheese, G..."
31,veggie_veg,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."

In [6]:
orders

       order_id        date      time
0             1  2015-01-01  11:38:36
1             2  2015-01-01  11:57:40
2             3  2015-01-01  12:12:28
3             4  2015-01-01  12:16:31
4             5  2015-01-01  12:21:30
...         ...         ...       ...
21345     21346  2015-12-31  20:51:07
21346     21347  2015-12-31  21:14:37
21347     21348  2015-12-31  21:23:10
21348     21349  2015-12-31  22:09:54
21349     21350  2015-12-31  23:02:05

[21350 rows x 3 columns]

In [11]:
order_details

       order_details_id  order_id       pizza_id  quantity
0                     1         1     hawaiian_m         1
1                     2         2  classic_dlx_m         1
2                     3         2  five_cheese_l         1
3                     4         2    ital_supr_l         1
4                     5         2     mexicana_m         1
...                 ...       ...            ...       ...
48615             48616     21348  ckn_alfredo_m         1
48616             48617     21348  four_cheese_l         1
48617             48618     21348   napolitana_s         1
48618             48619     21349     mexicana_l         1
48619             48620     21350      bbq_ckn_s         1

[48620 rows x 4 columns]

In [16]:
orders_full = orders.join(order_details.set_index("order_id"), on="order_id")
orders_full

,order_id,date,time,order_details_id,pizza_id,quantity
0,1,2015-01-01,11:38:36,1,hawaiian_m,1
1,2,2015-01-01,11:57:40,2,classic_dlx_m,1
1,2,2015-01-01,11:57:40,3,five_cheese_l,1
1,2,2015-01-01,11:57:40,4,ital_supr_l,1
1,2,2015-01-01,11:57:40,5,mexicana_m,1
...,...,...,...,...,...,...
21347,21348,2015-12-31,21:23:10,48616,ckn_alfredo_m,1
21347,21348,2015-12-31,21:23:10,48617,four_cheese_l,1
21347,21348,2015-12-31,21:23:10,48618,napolitana_s,1
21348,21349,2015-12-31,22:09:54,48619,mexicana_l,1
21349,21350,2015-12-31,23:02:05,48620,bbq_ckn_s,1

In [17]:
# df.join(other.set_index('key'), on='key')
pizzas_full = pizzas.join(pizza_types.set_index("pizza_type_id"), on="pizza_type_id")
pizzas_full

,pizza_id,pizza_type_id,size,price,name,category,ingredients
0,bbq_ckn_s,bbq_ckn,S,12.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,bbq_ckn_m,bbq_ckn,M,16.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
2,bbq_ckn_l,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
3,cali_ckn_s,cali_ckn,S,12.75,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."
4,cali_ckn_m,cali_ckn,M,16.75,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."
...,...,...,...,...,...,...,...
91,spinach_fet_m,spinach_fet,M,16.00,The Spinach and Feta Pizza,Veggie,"Spinach, Mushrooms, Red Onions, Feta Cheese, G..."
92,spinach_fet_l,spinach_fet,L,20.25,The Spinach and Feta Pizza,Veggie,"Spinach, Mushrooms, Red Onions, Feta Cheese, G..."
93,veggie_veg_s,veggie_veg,S,12.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."
94,veggie_veg_m,veggie_veg,M,16.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."
95,veggie_veg_l,veggie_veg,L,20.25,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."

In [26]:
df = orders_full.merge(pizzas_full, on="pizza_id").sort_values(by="order_id")
df

,order_id,date,time,order_details_id,pizza_id,quantity,pizza_type_id,size,price,name,category,ingredients
0,1,2015-01-01,11:38:36,1,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
4178,2,2015-01-01,11:57:40,6,thai_ckn_l,1,thai_ckn,L,20.75,The Thai Chicken Pizza,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Tha..."
3726,2,2015-01-01,11:57:40,5,mexicana_m,1,mexicana,M,16.00,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."
2991,2,2015-01-01,11:57:40,4,ital_supr_l,1,ital_supr,L,20.75,The Italian Supreme Pizza,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni..."
1632,2,2015-01-01,11:57:40,3,five_cheese_l,1,five_cheese,L,18.50,The Five Cheese Pizza,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go..."
...,...,...,...,...,...,...,...,...,...,...,...,...
22493,21348,2015-12-31,21:23:10,48618,napolitana_s,1,napolitana,S,12.00,The Napolitana Pizza,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,..."
22025,21348,2015-12-31,21:23:10,48617,four_cheese_l,1,four_cheese,L,17.95,The Four Cheese Pizza,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo..."
33849,21348,2015-12-31,21:23:10,48616,ckn_alfredo_m,1,ckn_alfredo,M,16.75,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
13174,21349,2015-12-31,22:09:54,48619,mexicana_l,1,mexicana,L,20.25,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."
7364,21350,2015-12-31,23:02:05,48620,bbq_ckn_s,1,bbq_ckn,S,12.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."

In [23]:
print(f"Registros: {df.shape[0]} | Columnas: {df.shape[1]}")

Registros: 48620 | Columnas: 12

In [27]:
df.columns

Index(['order_id', 'date', 'time', 'order_details_id', 'pizza_id', 'quantity',
       'pizza_type_id', 'size', 'price', 'name', 'category', 'ingredients'],
      dtype='object')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48620 entries, 0 to 48619
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          48620 non-null  int64
 1   date              48620 non-null  object
 2   time              48620 non-null  object
 3   order_details_id  48620 non-null  int64
 4   pizza_id          48620 non-null  object
 5   quantity          48620 non-null  int64
 6   pizza_type_id     48620 non-null  object
 7   size              48620 non-null  object
 8   price             48620 non-null  float64
 9   name              48620 non-null  object
 10  category          48620 non-null  object
 11  ingredients       48620 non-null  object
dtypes: float64(1), int64(3), object(8)
memory usage: 4.8+ MB

In [96]:
df.groupby(["order_id"])["quantity"].sum().sort_values(ascending=False)

order_id
18845    28
10760    25
18513    15
21158    15
20163    15
         ..
10393     1
10394     1
10395     1
10401     1
21350     1
Name: quantity, Length: 21350, dtype: int64

In [111]:
id_bo = df.groupby(["order_id"])["quantity"].sum().sort_values(ascending=False).index[0]
id_bo

18845

In [106]:
bigger_order = df.loc[df["order_id"]==id_bo, :].sort_values(["category", "quantity"])
bigger_order

,order_id,date,time,order_details_id,pizza_id,quantity,pizza_type_id,size,price,name,category,ingredients
26833,18845,2015-11-18,12:25:12,42864,southw_ckn_s,1,southw_ckn,S,12.75,The Southwest Chicken Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja..."
14062,18845,2015-11-18,12:25:12,42863,southw_ckn_l,1,southw_ckn,L,20.75,The Southwest Chicken Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja..."
43530,18845,2015-11-18,12:25:12,42851,ckn_pesto_s,1,ckn_pesto,S,12.75,The Chicken Pesto Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Spinach, Garli..."
33773,18845,2015-11-18,12:25:12,42850,ckn_alfredo_m,1,ckn_alfredo,M,16.75,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
5360,18845,2015-11-18,12:25:12,42865,thai_ckn_l,2,thai_ckn,L,20.75,The Thai Chicken Pizza,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Tha..."
27699,18845,2015-11-18,12:25:12,42847,bbq_ckn_m,3,bbq_ckn,M,16.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
26456,18845,2015-11-18,12:25:12,42858,ital_cpcllo_m,1,ital_cpcllo,M,16.00,The Italian Capocollo Pizza,Classic,"Capocollo, Red Peppers, Tomatoes, Goat Cheese,..."
36629,18845,2015-11-18,12:25:12,42866,the_greek_xl,1,the_greek,XL,25.50,The Greek Pizza,Classic,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic..."
1484,18845,2015-11-18,12:25:12,42852,classic_dlx_m,1,classic_dlx,M,16.00,The Classic Deluxe Pizza,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,..."
37472,18845,2015-11-18,12:25:12,42856,hawaiian_l,1,hawaiian,L,16.50,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
8749,18845,2015-11-18,12:25:12,42853,classic_dlx_s,1,classic_dlx,S,12.00,The Classic Deluxe Pizza,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,..."
30877,18845,2015-11-18,12:25:12,42860,pepperoni_s,1,pepperoni,S,9.75,The Pepperoni Pizza,Classic,"Mozzarella Cheese, Pepperoni"
20137,18845,2015-11-18,12:25:12,42848,big_meat_s,2,big_meat,S,12.00,The Big Meat Pizza,Classic,"Bacon, Pepperoni, Italian Sausage, Chorizo Sau..."
32599,18845,2015-11-18,12:25:12,42857,hawaiian_s,2,hawaiian,S,10.50,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
28615,18845,2015-11-18,12:25:12,42859,pepperoni_m,2,pepperoni,M,12.50,The Pepperoni Pizza,Classic,"Mozzarella Cheese, Pepperoni"
6840,18845,2015-11-18,12:25:12,42861,prsc_argla_l,1,prsc_argla,L,20.75,The Prosciutto and Arugula Pizza,Supreme,"Prosciutto di San Daniele, Arugula, Mozzarella..."
22989,18845,2015-11-18,12:25:12,42849,calabrese_m,1,calabrese,M,16.25,The Calabrese Pizza,Supreme,"Â‘Nduja Salami, Pancetta, Tomatoes, Red Onions,..."
29630,18845,2015-11-18,12:25:12,42862,sicilian_m,2,sicilian,M,16.25,The Sicilian Pizza,Supreme,"Coarse Sicilian Salami, Tomatoes, Green Olives..."
21865,18845,2015-11-18,12:25:12,42854,four_cheese_l,1,four_cheese,L,17.95,The Four Cheese Pizza,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo..."
31322,18845,2015-11-18,12:25:12,42855,green_garden_m,1,green_garden,M,16.00,The Green Garden Pizza,Veggie,"Spinach, Mushrooms, Tomatoes, Green Olives, Fe..."
30058,18845,2015-11-18,12:25:12,42867,veggie_veg_l,1,veggie_veg,L,20.25,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."

In [105]:
total_price = (bigger_order["quantity"]*bigger_order["price"]).sum()
total_quantity = bigger_order["quantity"].sum() 

print(f"El pedido mas grande es el {id_bo} con {total_quantity} pizzas y ${total_price}")

el pedido mas grande es el 18845 con 28 pizzas y $444.2